@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Import font family Avenir */
:root {
   --accent: #3AE000;
   --accent-dark: #4DA32F;
   --accent-darker: #255116;
   --accent-light: #9DFF7A;
   --red: #FF0000;
   --light-theme-text: #000000;

   --header-height: 70px;
   --footer-height: 300px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'AvenirNext', Open Sans, Lucida Grande, sans-serif;
}

body {
   background-color: #F1F1F1;
}

header {
   background-color: white;
}

main {
   min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
   font-size: 2.5rem;
   font-weight: heavy;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.5rem;
}

h4 {
   font-size: 1.25rem;
}

h5 {
   font-size: 1rem;
}

header {
   height: 70px;
}

header .logo-container {
   height: calc(var(--header-height) - 20px);
}

header .logo-container span {
   font-size: 1.5rem;
   font-weight: 500;
}

header .navbar a {
   text-decoration: none;
   padding: 0 1rem;
   font-weight: bold;
}

header .navbar a.active {
   font-weight: 800;
   color: var(--accent);
}

header .navbar a:hover {
   color: var(--accent-dark);
}

footer {
   height: 300px;
}

svg.logo {
   filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, .25));
}